<div class="form-horizontal widget span6">
	<div class="widget-header">
		<span class="title">
			Cada duração de serviço específico para <%=@client.name%>
		</span>
		<div class="toolbar">
			<%=link_to new_admin_client_client_service_path(@client), :class => "btn btn-gebo btn-mini", "data-toggle" => "remote-modal",:remote => true, :id => "new_client_service" do%>
			<i class="icol-add"></i>
			Adicionar serviço ao cliente
			<%end%>
		</div>

	</div>
	<div class="widget-content table-container">
		<table class="table table-striped form-inline" id="associated_services">

			<thead>
				<tr>
					<th colspan="3"><i class="icol-exclamation"></i> <strong>Cliente: </strong> <%=@client.name%></th>
				</tr>
				<tr>
					<th>Serviço</th>
					<th>Duração especial</th>
					<th></th>
				</tr>
			</thead>
			<tbody>				
				<%@client.client_services.each do |clientService| %>
				<%=render clientService%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>