<div class="form-horizontal widget">
	<div class="widget-header">
		<span class="title">
			Duração do(a) <strong><%=@service.name%></strong> de cada cliente
		</span>
		<div class="toolbar">
			<%=link_to new_admin_service_client_service_path(@service), :class => "btn btn-gebo btn-mini", "data-toggle" => "remote-modal", :remote => true, :id => "new_client_service" do%>
			<i class="icol-add"></i>
			Adicionar cliente ao serviço
			<%end%>
		</div>

	</div>
	<div class="widget-content table-container">
		<table class="table table-striped form-inline" id="associated_services">
			<thead>
				<tr>
					<th colspan="3"><i class="icol-exclamation"></i> <strong>Serviço: </strong> <%=@service.name%></th>
				</tr>
				<tr>
					<th>Cliente</th>
					<th>Duração especial</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@service.client_services.each do |clientService| %>
					<%=render clientService%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>