<div class="review-block">
	<div class="review-total">
		<div class="name"><%=event.start_at.strftime("%H:%M")%></div>
		<div class="total">			
			<span class="value"><%=event.service.name%></span>
			<span class="grade"><%=event.professional.name%> </span>
		</div>
		<!-- <div class="salon">
			<%=image_tag event.salon.logo%>
		</div> -->
	</div>	
</div>