<%=content_for :top_menu do%>
	<%if action_name != "index"%>
		<%=link_to admin_services_path, :class => "item" do%>
		<span class="item-icon">
			<i class="icon-list"></i>
		</span>
		<span class="item-label">Listar Serviços</span>								
		<%end%>
	<%end%>
	<%if action_name != "new"%>
		<%=link_to new_admin_service_path, :class => "item" do%>
		<span class="item-icon">
			<i class="icon-plus"></i>
		</span>
		<span class="item-label">Novo Serviço</span>								
		<%end%>
	<%end%>
<%end%>