<%=render "top_menu"%>

<header>
	<h2>Novo Serviço</h2>
</header>

<div id="main-content">
	<%=render "context_menu"%>
	<div class="row-fluid">
		<div class="span12 widget">
			<div class="widget-header">
				<span class="title">Dados do Serviço</span>
			</div>
			<div class="widget-content form-container">				
				<%=render "form"%>
			</div>
		</div>
	</div>
</div>
