/*  Medify font styles
    ------------------------------------------------------- */

.bebasNeue {
  font-family: 'BebasNeue';
}
/* ===================================================================================== */
.rate10 > span:nth-child(-n+10) {
  color: #f47e00;
}
.rate9 > span:nth-child(-n+9) {
  color: #f47e00;
}
.rate8 > span:nth-child(-n+8) {
  color: #f47e00;
}
.rate7 > span:nth-child(-n+7) {
  color: #f47e00;
}
.rate6 > span:nth-child(-n+6) {
  color: #f47e00;
}
.rate5 > span:nth-child(-n+5) {
  color: #f47e00;
}
.rate4 > span:nth-child(-n+4) {
  color: #f47e00;
}
.rate3 > span:nth-child(-n+3) {
  color: #f47e00;
}
.rate2 > span:nth-child(-n+2) {
  color: #f47e00;
}
.rate1 > span:nth-child(-n+1) {
  color: #f47e00;
}
.image-polaroid {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #c0c0c0;
  padding: 4px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.image-polaroid:hover {
  border: 1px solid #b0b0b0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.rating-dynamic {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.star-small > span {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: auto;
  color: #333333;
}
.star-small.rating-dynamic > span:hover:before,
.star-small.rating-dynamic > span:hover ~ span:before {
  color: #f47e00;
}
.star-medium > span {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: auto;
  color: #333333;
}
.star-medium.rating-dynamic > span:hover:before,
.star-medium.rating-dynamic > span:hover ~ span:before {
  color: #f47e00;
}
.star-large > span {
  cursor: pointer;
  position: relative;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: auto;
  color: #333333;
}
.star-large.rating-dynamic > span:hover:before,
.star-large.rating-dynamic > span:hover ~ span:before {
  color: #f47e00;
}