<div id="list_view">
	<div class="row-fluid">		
		<div class="span12 widget">
			<div class="widget-header">
				<span class="title">
					<%if params[:professional].present? && params[:date].present?%>
					Visualizando os MEUS agendamentos para <%=params[:date].capitalize%>
					<%elsif params[:professional].present?%>
					Visualizando apenas os meus agendamentos
					<%elsif params[:date].present?%>
					Visualizando TODOS os agendamentos de <%=params[:date].capitalize%>
					<%else%>
					Todos os agendamentos
					<%end%>	
				</span>
				<div class="toolbar">
					<%=link_to easy_new_admin_events_path, :class => "btn btn-mini" do%>
					<i class="icon-plus"></i>  Novo Agendamento
					<%end%>
				</div>
			</div>
			<div class="widget-content table-container">				
				
				<table class="table table-striped form-inline datatable" id="events_list" data-source="<%= admin_events_url(params.merge!(format: "json")) %>">					
					<thead>
						<tr>
							<th style="width:45px">Código</th>							
							<th>Cliente</th>
							<th>Funcionário</th>
							<th>Serviço</th>
							<th>Início</th>
							<th>Fim</th>
							<th>Duração</th>							
						</tr>
					</thead>										
					<tbody>
						

						
					</tbody>
					<tfoot>
						<tr>
							<th>Código</th>							
							<th>Cliente</th>
							<th>Funcionário</th>
							<th>Serviço</th>
							<th>Início</th>
							<th>Fim</th>
							<th>Duração</th>							
						</tr>
					</tfoot>
				</table>	
			</div>


		</div>
	</div>			
</div>