<div class="row-fluid">
	<div class="span12">
		<ul class="dshb_icoNav clearfix">
			<li>
				<%=link_to "Agendar", new_admin_event_url, :style=> "background-image: url(/assets/gCons/add-item.png)"%>
			</li>
		</ul>
	</div>
</div>