<%=render "top_menu"%>
<%=render "/admin/clients/modal_form"%>

<div id="main-header" class="page-header">
	<h1 class="main-heading">Agendamento Fácil<span>O mesmo usado pelos seus clientes</span></h1>
</div>

<div id="main-content">
	<div class="row-fluid">
		<div class="widget span12">
			<div class="widget-header">
				<span class="title">
					Criando novo evento
				</span>
			</div>
			<div class="widget-content form-container">
				<div class="control-group">
					<%=render "/events/form"%>				
				</div>
				
			</div>
		</div>
	</div>
</div>


  