<%=render "top_menu"%>

<header>
	<h2>Listar Agendamentos</h2>
</header>
<div id="main-content">
	<%=render "context_menu"%>
	<h4 class="sub">
		<span>
			Escolha o modo de visualização dos dados
		</span>
	</h4>
	<ul class="nav nav-pills">
		<li class="active"><a href="#calendar_view" data-toggle="tab">Calendário do dia</a></li>
		<li class=""><a href="#list_view" data-toggle="tab">Lista</a></li>		
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="calendar_view">
			<%=render "calendar_view"%>
		</div>
		<div class="tab-pane" id="list_view">
			<%=render "list_view"%>
		</div>
	</div>
	
</div>