<h1>Listing professionals</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @professionals.each do |professional| %>
  <tr>
    <td><%= link_to 'Show', professional %></td>
    <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
    <td><%= link_to 'Destroy', professional, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professional', new_professional_path %>
