<%
if @favorite 
	id = @favorite.salon.id.to_s 
else 
	id = @salon.id.to_s 
end
%>
var link = $(".search-results li[data-id='<%=escape_javascript(id)%>'] .star_fav");
link.removeClass("favorite");
link.html("<span class='awe-star-empty'></span>Adicionar aos meus salões")
$("#mini_grid li[data-id='<%=escape_javascript(id)%>']").fadeOut("slow", function(){$(this).remove()});
