<div class="span3 widget">
    <div class="widget-header">
        <span class="title">
            <i class="icon-ok"></i> Próximos Agendamentos
        </span>
        <div class="toolbar">
            <span class="btn" rel="tooltip" data-original-title="Add New Task"><i class="icon-plus"></i></span>
        </div>
    </div>
    <div class="widget-content task-list">
        <ul>
            <li class="done">
                <label class="checkbox"><div class="uniform-checker"><span class="uniform-checked"><input type="checkbox" class="uniform" checked="" style="opacity: 0; "></span></div></label>
                <span class="text">
                    <span class="text-nowrap">
                        <i class="icon-food"></i> Feed the cats
                    </span>
                </span>
                <a href="#" class="close">×</a>
            </li>
            <li>
                <label class="checkbox"><div class="uniform-checker"><span><input type="checkbox" class="uniform" style="opacity: 0; "></span></div></label>
                <span class="text">
                    <span class="text-nowrap">
                        <i class="icon-chemical"></i> Go to the doctor
                        <span class="badge badge-warning">urgent</span>
                    </span>
                </span>
                <a href="#" class="close">×</a>
            </li>
            <li class="done">
                <label class="checkbox"><div class="uniform-checker"><span class="uniform-checked"><input type="checkbox" class="uniform" checked="" style="opacity: 0; "></span></div></label>
                <span class="text">
                    <span class="text-nowrap">
                        <i class="icon-bag"></i> Buy my wife a new dress
                        <span class="badge badge-success">important</span>
                    </span>
                </span>
                <a href="#" class="close">×</a>
            </li>
            <li>
                <label class="checkbox"><div class="uniform-checker"><span><input type="checkbox" class="uniform" style="opacity: 0; "></span></div></label>
                <span class="text">
                    <span class="text-nowrap">
                        <i class="icon-comments"></i> Introduce my daughter to my boss
                    </span>
                </span>
                <a href="#" class="close">×</a>
            </li>
            <li>
                <label class="checkbox"><div class="uniform-checker"><span><input type="checkbox" class="uniform" style="opacity: 0; "></span></div></label>
                <span class="text">
                    <span class="text-nowrap">
                        <i class="icon-plane"></i> Buy a new airplane
                    </span>
                </span>
                <a href="#" class="close">×</a>
            </li>
            <li>
                <label class="checkbox"><div class="uniform-checker"><span><input type="checkbox" class="uniform" style="opacity: 0; "></span></div></label>
                <span class="text">
                    <span class="text-nowrap">
                        <i class="icon-users"></i> Attend a community meetup
                    </span>
                </span>
                <a href="#" class="close">×</a>
            </li>
        </ul>
    </div>
</div>