<div class="widget-content task-list">
    <table>
        <tr>
            <td class="time_col">
                <ul>
                    <%current_time = Time.zone.parse("00:00")%>
                    <%end_time = Time.zone.parse("24:00")%>            
                    <%interval = 15%>            
                    <%while current_time < end_time%>
                    <li>
                        <span class="time">
                            <%=current_time.strftime("%H:%M")%>    
                        </span>                                
                    </li>
                    <%current_time += interval.minutes%>
                    <%end%>
                </ul>
            </td>
            <td class="event_col">
                <ul>
                    <%=day_view_events.html_safe%>    
                </ul>    
            </td>                
        </tr>
    </table>
</div>
