@import "bootstrap";
@import "bootstrap-responsive";
@import 'font-awesome';

body.login_page{
	background: #267ac0
}

/* login page */

.login_page  {
    margin:0 auto;
    background: #267ac0;
}
.outer_login_box{
    margin:0 auto;        
    padding-top: 40px; 
    width:380px;
}
.login_page .login_box {


    background:#fff;
    border:3px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    margin-bottom:10px
}
.login_page .top_b {text-shadow:0 1px 0 rgba(255,255,255,.5);font: 100 18px/42px 'PT Sans', sans-serif;height:42px;padding:0 20px;background: #e0e0e0;border-bottom:1px solid #ccc;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 6px 6px 0px 0px;border-radius: 6px 6px 0px 0px;font-size:15px}
.login_page .cnt_b {padding:30px 0;width:66%;margin:0 auto}
.login_page form {margin-bottom:0}
.login_page .btm_b {padding:12px 20px;border-top:1px solid #e7e7e7;background:#f7f7f7;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-radius: 0px 0px 6px 6px;border-radius: 0px 0px 6px 6px}
.login_page .links_b {font-size:11px;text-align:center;}
.login_page .links_b a, .login_page .links_b a:hover{
    color: #fff
}
.login_page .checkbox{
    font-size: 12px;
}
.login_page .link_reg {font-size:11px;padding:5px 0 0;display:block}
.alert-login {margin:10px 10px 0}

@media (orientation:landscape) and (max-width: 525px){
	.login_page .outer_login_box {
		width: 79%;
		padding-top: 0;
	}

	.login_page .outer_login_box input[type=text],
	.login_page .outer_login_box input[type=password],
	.login_page .outer_login_box input[type=email]{
		width:80%;
	}
}

@media (max-width: 525px) and (orientation:portrait) {
	.login_page .outer_login_box {width:70%}
	.login_page .outer_login_box input[type=text],
	.login_page .outer_login_box input[type=password],
	.login_page .outer_login_box input[type=email]{
		width:80%;
	}
}

@media screen and (max-width: 360px){
	body.login_page .outer_login_box{
		width: 90%;
	}
	body.login_page .outer_login_box input[type=submit]{
		width:100%;
		float:none;
	}
	body.login_page .outer_login_box a{
		text-align: center;
		float: none;
	}
}