<div class="w-box">
	<div class="w-box-header">
		Meus Horários
		<div class="pull-right">
			<%=link_to "Criar novo horário de trabalho", 
				new_admin_professional_working_time_path(current_professional), 
				:class => "btn btn-gebo btn-mini", 
				:remote => true, 
				:id => "new_working_time"%>
		</div>
	</div>
	<div class="w-box-content">
		<table class="table table-striped" id="associated_services">
			<thead>
				<tr>
					<th>Dia</th>
					<th>Início</th>
					<th>Fim</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<%@professional.working_times.each do |wt| %>
					<%=render wt%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>