<div class="widget" id="working_times_box">
	<div class="widget-header">
		<span class="title">Horário de trabalho</span>
		<div class="toolbar">
		<%if can? :update, @professional %>
			<%=link_to "#new_working_time",
				"data-toggle" => "modal", 
				:class => "btn btn-gebo btn-mini",				
				:id => "new_working_time" do%>
					<i class="icol-add"></i>
					Criar novo horário de trabalho
				<%end%>
		<%end%>
		</div>
	</div>
	<div class="widget-content table-container">
		<table class="table table-striped" id="working_times">
			<thead>
				<tr>
					<th>Dia</th>
					<th>Início</th>
					<th>Fim</th>
					<th></th>
				</tr>
			</thead>
			<tbody>				
				<%@working_times.each do |wt| %>
					<%=render wt%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>