<div class ="left">
  <div class="box no_margin">
        <div class="box_t">
          <div class="box_b">
            <h2>Menu dos eventos</h2>
            <ul>
              <li><%= link_to 'Marcar reunião', new_event_path %></li>
            </ul>
          </div>
        </div>
  </div>
</div>
