<div id="mini_grid" class="wmk_grid">
  <ul>
  	<%if @my_salons_and_favorites%>
	    <%@my_salons_and_favorites.each do |salon| %>
	    	<%=render "salons/fav_salon", :salon => salon%>
	    <%end%>
    <%end%>
  </ul>
</div>