<ul>        
  <%if @salons.empty?%>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">×</a>
    Sua busca não obteve resultados
  </div>
  <%else%>
  <%@salons.each do |salon| %>  
    <%=render salon%>
  <%end%>
  <%end%>
</ul>