<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

function successGeocoded(address){    
    $("#geolocation_status").html(
      "<p>Localização aproximada encontrada: <br><strong>" + address.formatted_address + "</strong></p>"
      );
    addLoading($(".search-results"));
    $.ajax({
      url:"<%=escape_javascript(salons_path)%>" + ".js" ,
      data: {location: address.formatted_address},      
      dataType: "script"
    });
  }
  function
  errorGeocoded(){

  }

  function mapThisGoogle(latitude,longitude){    
    // Start up a new reverse geocoder for addresses?
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(latitude, longitude);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          successGeocoded(results[0]);
        } else {
          errorGeocoded()
        }
      } else {
        errorGeocoded();
      }    
    });
  }

  function success(position){    
    mapThisGoogle(position.coords.latitude,position.coords.longitude);    
  }

  function error(type){
    $("#geolocation_status").html("<p>Me desculpe, mas sua localização não pôde ser determinada. Por favor, digite o endereço no campo acima</p>");
  }

  function locationSearch(){
    if (navigator.geolocation) {
      $("input#location").val("");
      $("#geolocation_status").html("Obtendo sua localização para encontrar os salões mais próximos <%=escape_javascript(image_tag '/assets/ajax_loader.gif')%>").slideDown("fast");
      navigator.geolocation.getCurrentPosition(success, error);
    } else {
      error('not supported');
    }  
  }

$(document).ready(function(){

  <%if params[:location].present?%>
    $('#search-field a[href="#address-search"]').tab('show');  
  <%else%>
    $('#search-field a[href="#name-search"]').tab('show');  
  <%end%>

  

  $('a[href="#address-search"]').on('shown', function (e) {
    <%if !params[:location].present?%>          
      locationSearch();    
    <%end%>    
  });

});

</script>