<div id="right-sidebar" class="span4 favorite_salons">
  <%=render "favorite_salons"%>
</div>

<div id="content" class="span8">
  <div class="post-single all-events">
    <div class="article-header">
      <h1 class="title">
        Buscar Salões
      </h1>
      <div class="separator"></div>
      <%=render "search_salons"%>
      <div class="search-results">
        <%=render "search_results"%>
      </div>      
    </div>
  </div>
</div>


<%=render "search_scripts"%>