<div class="row-fluid">  
  <div class="span4">
  	<h3 class="heading">Meus Salões | Favoritos</h3>
    <%=render "favorite_salons"%>
  </div>
  <div class="span8">
    <%=render "search_salons"%>
  </div>
</div>
</div>

<%=render "search_scripts"%>