<div class="widget">
	<div class="widget-header">
		<span class="title">Serviços

		</span>
		<div class="toolbar">
			<%if can? :update, @professional %>
				<%=link_to new_admin_professional_professional_service_path(@professional), :class => " btn btn-gebo btn-mini", :remote => true, :id => "new_professional_service", :data => {:toggle => "remote-modal"} do%>
					<i class="icol-add"></i>
					Associar novo serviço
				<%end%>
			<%end%>			
		</div>
	</div>
	<div class="widget-content table-container">
		<table class="table table-striped" id="associated_services">
			<thead>
				<tr>
					<th>Nome</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@professional.professional_services.each do |ps| %>
					<%=render ps%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>