<div class="span3 widget">
    <div class="widget-header">
        <span class="title">Tarefas de configuração</span>
    </div>
    <div class="widget-content task-list">
        <ul>
            <li>                
                <span class="text">
                    <span class="text-nowrap">
                        <%=link_to new_admin_professional_path do%>
                            <i class="icon-food"></i> 
                            Definir regime especial de horário
                        <%end%>
                    </span>
                </span>         
            </li>
        </ul>
    </div>
</div>