<%=render "/admin/utils/top_nav"%>

<div class="row-fluid">
	<div class="span12">
		<h2 class="heading">
			Perfil
		</h2>
		<div class="form-horizontal well">
			<p>
				<strong>Nome:</strong> <%=@professional.name%>
			</p>
		<!-- Services -->
			<%=render "professional_services"%>

		<!-- Working Times -->
			<p>
				<%=render "/admin/working_times/working_times"%>
			</p>
		</div>
	</div>
</div>
