body.login_page{
	background: #267ac0
}

@media (orientation:landscape) and (max-width: 525px){
	.login_page .outer_login_box {
		width: 79%;
		padding-top: 0;
	}

	.login_page .outer_login_box input[type=text],
	.login_page .outer_login_box input[type=password],
	.login_page .outer_login_box input[type=email]{
		width:80%;
	}
}

@media (max-width: 525px) and (orientation:portrait) {
	.login_page .outer_login_box {width:70%}
	.login_page .outer_login_box input[type=text],
	.login_page .outer_login_box input[type=password],
	.login_page .outer_login_box input[type=email]{
		width:80%;
	}
}

@media screen and (max-width: 360px){
	body.login_page .outer_login_box{
		width: 90%;
	}
	body.login_page .outer_login_box input[type=submit]{
		width:100%;
		float:none;
	}
	body.login_page .outer_login_box a{
		text-align: center;
		float: none;
	}
}